<div>
  <div *ngIf="!token">
    <button mat-button [matMenuTriggerFor]="menu" class="dropdown-toggle"
      style="  background-color: #f79f4d;  border-radius: 10px; margin-top: 5%; margin-left: 5%;"> Heart Speak
      1.0</button>
    <mat-menu #menu="matMenu" class="custom-menu">
      <p style="width: 80%; margin-left: 2%; ">Log in to try our latest model with dual speech and multiple themes </p>
      <button mat-menu-item style=" background-color: #f79f4d !important ;    width: 37%;
          border-radius: 20%;
          margin-left: 5%; " routerLink="/login">Login</button>
    </mat-menu>

  </div>
  <div class="d-flex justify-content-center align-items-center gap-2 mt-3">

    <button *ngIf="token" class="btn  " style="  background-color: #be0000; color: black; " mat-button
      [matMenuTriggerFor]="menuclear" class="dropdown-toggle">Clear Chat
      <mat-menu #menuclear="matMenu" class="custom-menu">
        <p style="width: 90%; margin-left: 2%; ">You want to Clear Chat ?</p>
        <button mat-menu-item style=" background-color: #d10000 !important ;    width: 55%;
          border-radius: 5%;
          margin-left: 25%; " (click)="clearChat()"> <i class="fas fa-trash ms-2"></i>clear</button>
      </mat-menu>
    </button>
    <button class="btn" style="background-color: white; color: black;" (click)="logout()" *ngIf="token">Logout</button>



  </div>


</div>


<div class="col-md-6 d-flex align-items-start justify-content-center ms-4 mt-5 position-relative" id="icon6">
  <img class="animation animation2 ms-5" src="assets/icon6.png" alt="Heart Shape Animation"
    style=" height: 80px;width: 300px;">
</div>

<div class="col-md-4 d-flex align-items-end justify-content-center mb-3 mt-3 ms-5 " id="icon1">
  <img class="animation animation2 ms-5" src="assets/icon1.png" alt="Heart Shape Animation">

  <img class="animationc animationc2 rotate-animation ms-4" src="assets/icon7.png" alt="Heart Shape Animation">


</div>

<div class="mt-3 d-flex align-items-center mt-5" id="icon3">
  <div class="me-3 ms-4">
    <img class="animation animation2" src="assets/icon2.png" alt="Heart Shape Animation">
  </div>
  <div class="ms-3">
    <img class="animation animation2" src="assets/icon3.png" alt="Heart Shape Animation">
  </div>
</div>

<div class="container mt-3 ">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-4 d-flex align-items-end justify-content-center mb-3 mt-4">
      <img class="animation animation2 larger-image" src="assets/icon4.png" alt="Heart Shape Animation">
    </div>
    <div class="col-md-4 d-flex align-items-start justify-content-center mb-3 mt-4 position-relative">
      <img class="animation animation2" src="assets/icon6.png" alt="Heart Shape Animation"
        style="position: absolute; top: -50%;">
    </div>
    <div class="col-md-4 d-flex align-items-end justify-content-center mb-3 mt-4" id="icondate">
      <img class="animation animation2 larger-image" src="assets/icon4.png" alt="Heart Shape Animation">
    </div>
  </div>
</div>


<div class="container mt-3 " id="mobilevie">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-4 d-flex align-items-end justify-content-center mb-3 mt-4 me-4">
      <img class="animation animation2 larger-image" src="assets/icon5.png" alt="Heart Shape Animation">
    </div>
    <div class="col-md-4 d-flex align-items-end justify-content-center mt-2 ms-2">
      <img class="animation animation2 larger-image" src="assets/icon8.png" alt="Heart Shape Animation">
    </div>
  </div>
</div>

<div class="container mt-3 d-flex align-items-center justify-content-center mt-3">
  <!-- <h1 class="heyyy-animation me-5" style="color: white;">Hey👋</h1> -->
  <!-- <img class="animationc animationc2 rotate-animation" src="/assets/icon7.png" alt="Heart Shape Animation"> -->
</div>