<app-header></app-header>


<div class="container">
    <h1>Terms and Conditions</h1>
    <p>Welcome to Heart Speak!</p>
    <p>These terms and conditions outline the rules and regulations for the use of the Heart Speak website.</p>
    <p>By accessing this website, we assume you accept these terms and conditions. Do not continue to use Heart Speak if you do not agree to take all of the terms and conditions stated on this page.</p>

    <h2>Cookies</h2>
    <p>We employ the use of cookies. By accessing Heart Speak, you agreed to use cookies in agreement with Heart Speak's Privacy Policy.</p>

    <h2>License</h2>
    <p>Unless otherwise stated, Heart Speak and/or its licensors own the intellectual property rights for all material on Heart Speak. All intellectual property rights are reserved. You may access this from Heart Speak for your own personal use subjected to restrictions set in these terms and conditions.</p>
    <p>You must not:</p>
    <ul>
        <li>Republish material from Heart Speak</li>
        <li>Sell, rent, or sub-license material from Heart Speak</li>
        <li>Reproduce, duplicate, or copy material from Heart Speak</li>
        <li>Redistribute content from Heart Speak</li>
    </ul>

    <h2>User Comments and Conduct</h2>
    <p>This Agreement shall begin on the date hereof.</p>
    <p>Certain parts of this website offer the opportunity for users to post and exchange opinions and information in certain areas of the website. Heart Speak does not filter, edit, publish, or review Comments prior to their presence on the website. Comments do not reflect the views and opinions of Heart Speak. To the extent permitted by applicable laws, Heart Speak shall not be liable for the Comments or for any liability, damages, or expenses caused and/or suffered as a result of  appearance of the Comments on this website.</p>
    
    <p>By using Heart Speak, you agree to:</p>
    <ul>
        <li>Not use any sexually explicit or inappropriate language.</li>
        <li>Not use any discriminatory, offensive, or hateful language.</li>
        <li>Respect other users and not engage in any form of harassment or bullying.</li>
    </ul>
    <p>Failure to comply with these rules may result in actions being taken against you, including but not limited to the removal of your comments, temporary suspension, or permanent banning from the website.</p>

  
</div>
