img{
    height: auto;
    max-width: 100%;
}

.banner-section .section-wrapper .banner-thumb {
    z-index: 2;
}

.intro-form {
    border: 5px solid #fff;
    margin-bottom: 100px;
    max-width: 550px;
    padding: 100PX 20px; /* Adjust padding for smaller screens */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.intro-form img {
    max-height: 50px;
}

#dashboard2{
    margin-top: 0%;
}
@media (max-width: 768px) {
    .intro-form {
        padding: 30px 15px; /* Adjust padding for smaller screens */
        margin-left: 20px;
    }
}

.dashboard{
    height: 100%; width: 100%;
}
@media only screen and (min-width: 200px) and (max-width: 400px) {
    .dashboard {
        height: 500px;
    }
}

@media only screen and (min-width: 400px) and (max-width: 600px) {
    .dashboard {
        height: 800px;
    }
}
@media only screen and (min-width: 750px) and (max-width: 900px) {
    .dashboard {
        height: 800px;
    }

    #dashboard2{
        margin-top: 1% !important;
    }

  
}

@media only screen and (max-width: 900px) {
    .dashboard {
        height: 1100px;
    }
}





/*--------------------------for icon -----------*/

