<app-header></app-header>
<!-- src/app/app.component.html -->
<div class="dashboard"
    style=" background-image: url('assets/background.jpg'); background-repeat: no-repeat; background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="  col-sm-12 col-md-6 mt-5">
                <div class="intro-form">
                    <div style="display: flex; align-items: center; justify-content: center; flex-wrap: wrap;">
                        <!-- <img src="/assets/name.png" alt="" style="max-height: 50px; margin-right: 10px;"> -->
                        <h1 class="h1css" style="margin-left: 10px; font-family: Arial, Helvetica, sans-serif; background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
                                   -webkit-text-fill-color: transparent;
                                   -webkit-background-clip: text;">Heart</h1>
                        <h1 class="h1css" style="margin-left: 10px; font-family: Arial, Helvetica, sans-serif; background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
                                   -webkit-text-fill-color: transparent;
                                   -webkit-background-clip: text;">Speaks</h1>
                    </div>
                    <div style="text-align: center;">
                        <h4 style="color: white;">Express Your Deepest Emotions and Connect</h4>
                        <p style="color: white;">HeartSpeak brings a genuine, heartfelt approach to your relationships,
                            fostering honest communication and emotional intimacy.</p>

                        <button class="btn"
                            style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); border-radius: 10px; border: none; padding: 10px 20px;"
                            routerLink="/home">Try Heart Vibes</button>
                    </div>
                </div>

            </div>
            <div class=" col-sm-12 col-md-6 " id="dashboard2">
               
                <img src="assets/demo2.png" alt="">
              
            </div>
        </div>
    </div>
</div>




<app-footer></app-footer>