<div class="animation-container" >
    <!-- <div class="container"> -->
            <div class="row  ">
                <div class="col-md-4 d-flex align-items-end justify-content-center">
                    <img class="animation" src="assets/heartshap.png" alt="Heart Shape Animation">
                </div>
                <div class="col-md-4">
                    <div class="about-section">
                        <h4>Heart Speak</h4>
                        <p>HeartSpeak brings a genuine, heartfelt approach to your relationships,
                            fostering honest communication and emotional intimacy.</p>
                    </div>
                    <div class="about-image">
                        <img src="assets/about.jpg" alt="Image description">
                    </div>
                    <div class="about-section" >
                        <a style="text-decoration: none; color: white;" routerLink="/termandcondtion">Term & Condition</a> | 
                        <a style="text-decoration: none; color: white;" routerLink="/aboutus">  About us</a>
                    </div>
                </div>
               
                <div class="col-md-4 d-flex align-items-end justify-content-center">
                    <img class="animation animation2" src="assets/heartshap.png" alt="Heart Shape Animation">
                </div>
            </div>
    <!-- </div> -->
</div>
