<header class="sticky-header " style=" width: 100%;">
    <nav class="navbar" style="    background: rgba(49, 19, 91, .95);">
      <div class="logo" routerLink="/dashboard">
        <img src="assets/logoapp.png" alt="Logo">
        <div class="logo-text">
          <span class="main-text" style="color: white;">Heart Speak</span>
          <span class="sub-text">best for advisers</span>
        </div>
      </div>
      <!-- <div class="menu">
 <asl-google-signin-button class="btn custom-google-signin"></asl-google-signin-button>

        
      </div> -->
    </nav>
  </header>
  